* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  justify-items: center;
}

.content {
  margin-top: 2rem;
  grid-column: 2;
  min-width: 100%;
}

button:hover,
.button-link:hover {
  cursor: pointer;
}

.button-link {
  outline: none;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  background: forestgreen;
  border: 1px solid forestgreen;
}

