.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.favorites-content > p  {
  text-align: center;
}