.navbar {
  background: tomato;
  color: white;
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 0;
}

.navbar > .nav-link {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

.navbar > .nav-link-active {
  text-decoration: underline;
}