.post {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 5px;
  background: #2c3e50;
  color: white;
  display: grid;
  align-items: center;
  grid-row-gap: 2rem;
  grid-template-areas:
    'title title'
    'view .'
    'fav .'
    '. author'
}

.post > a {
  grid-area: view;
  color: white;
}

.post > .author > a {
  color: white;
}

.post > button {
  grid-area: fav;
  padding: 0.5rem;
  border-radius: 5px;
  justify-self: flex-start;
}

.post > .author {
  grid-area: author;
}