.App {
  text-align: center;
}

button {
  outline: none;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.button-primary {
  background: dodgerblue;
  border: 1px solid dodgerblue;
}

.button-secondary {
  background: tomato;
  border: 1px solid tomato;
}